<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form id="appointmentForm" method='post' class="form" role="form" action='{% url 'admin:create_appointment' barber.id %}'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{ barber.name }}&nbsp;{{ time }}</h4>
            </div>
            {% include 'admin/create_appointment_form.html' %}
        </form>
    </div>
    <script>
        update_form($('#appointmentForm'));
    </script>
</div>
