{% load crispy_forms_tags %}
{% load staticfiles %}

<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="appointmentForm" method='post' class="form" role="form" action='{% url 'admin:create_appointment' barber.id %}'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{ barber.name }}&nbsp;<span id="appointmentTime"></span></h4>
            </div>
            <div class="modal-body">
                {{ form|crispy }}
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Сохранить" style="margin-bottom: 5px;" />
                </div>
            </div>
        </form>
        <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
        <script src="{% static 'autocomplete_light/addanother.js' %}"></script>
    </div>
</div>
