{% load crispy_forms_tags %}
{% load staticfiles %}


<div class="modal-body">
    {{ form|crispy }}
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Сохранить"/>
    </div>
</div>
<script>
    $.getScript("{% static 'admin/js/admin/RelatedObjectLookups.js' %}");
    $.getScript("{% static 'autocomplete_light/addanother.js' %}");
    function update_element(that) {
        $("#id_service_"+that.id.slice(-1)).prop("disabled", !that.checked);
        $("#id_cost_"+that.id.slice(-1)).prop("disabled", !that.checked);
    }
    $("[id^=id_show_]").map(function() {update_element(this);});
    $("[id^=id_show_]").click(function (event) {update_element(this);});
    function update_service_cost(that) {
        $.ajax('/admin/get_product_price/' + that.value, {
            context: that,
            success: function(data) {
                $('#id_cost_'+that.id.slice(-1))[0].value = data.price;
            }
        });
    }
    $("[id^=id_service_]").change(function() {
        update_service_cost(this);
    })
</script>
