{% load clever_selects_extras %}
{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="clearfix">
            <form id="appointmentForm" method='post' class="form" role="form" action='{% url 'admin:edit_appointment' appointment.id %}'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ barber.name }}&nbsp;{{ time }}</h4>
                </div>
                <div class="col-2">{% include 'admin/create_appointment_form.html' %}</div>
                <div id="editForm" class="col-2">
                    {{ formset.non_form_errors }}
                    {% include 'admin/edit_appointment_form.html' %}
                </div>
            </form>
        </div>
    </div>
    {% clever_selects_js_import %}
    <script>
        update_form($('#appointmentForm'));
        function update_cost(product_id, quantity, target) {
            if (product_id > 0 && quantity > 0) {
                $.ajax('/admin/get_product_price/' + product_id, {
                    success: function (data) {
                        target.value = data.price * quantity;
                    }
                });
            }
        }
        $('[id^=id_form][id$=quantity]').on('input', function () {
            var id_form = this.id.split('-')[1];
            target = $('#id_form-' + id_form + '-cost')[0];
            product_id = $('#id_form-' + id_form + '-product').val();
            update_cost(product_id, this.value, target);
        });
        $('[id^=id_form][id$=product]').change(function() {
            var id_form = this.id.split('-')[1];
            target = $('#id_form-' + id_form + '-cost')[0];
            quantity = $('#id_form-' + id_form + '-quantity').val();
            update_cost(this.value, quantity, target);
        });
    </script>
</div>
